body {
    font-family: 'Text Me One', sans-serif;
}

header {
    width: auto;
    height: 100px;
    padding: 10px;
}

.navbar {
    overflow: hidden;
}

.couple1 {
    width: 100%;
}

.behappy {
    width: 100%;
}

.couple2 {
    width: 100%;
}