html {
    padding: 30px;
}

header {
    height: 100px;
    border: 2px solid black;
    margin-bottom: 5%;
}

.init {
    width: auto;
    height: 300px;
    margin-bottom: 5%;
}

.photo {
    border: 2px solid blue;
    float: left;
    height: 300px;
    width: 300px;
}

.some {
    border: 2px solid red;
    float: right;
    height: 300px;
    width: 800px;
}

.middle {
    width: auto;
    height: 300px;
    margin-bottom: 5%;
}

.description {
    display: inline-block;
    border: 2px solid yellow;
    width: 80%;
    height: 100px;
    text-align: center;
}

.data {

    display: inline-block;
    border: 2px solid green;
    width: 80%;
    height: 300px;
}